<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847264193656-k3a50k4lvjbuhn1qffol3skqaaif3e3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847264193656-k3a50k4lvjbuhn1qffol3skqaaif3e3d</string>
	<key>API_KEY</key>
	<string>AIzaSyC_jcMJLgvUQWDBmKoXBDUgoTW1LcECz7c</string>
	<key>GCM_SENDER_ID</key>
	<string>847264193656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.ViviCampomarino</string>
	<key>PROJECT_ID</key>
	<string>vivi-campomarino</string>
	<key>STORAGE_BUCKET</key>
	<string>vivi-campomarino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847264193656:ios:1d5a4e6cc5d2d99121218d</string>
	<key>DATABASE_URL</key>
	<string>https://vivi-campomarino-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>